/* /////////////GENERAL FORMATATIONS//////////////// */
*,
::before,
::after {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

:root {
	font-size: 62.5%;

	--nav-background-color: white;
	--primary-color: #09203F;
	--secondary-color:#537895;
	--tertiary-color: #888808;
	--logo-brazil-first-color: #009c3b;
	--logo-brazil-second-color: #ffdf00;
	--box-shadow-color: hsla(0, 0%, 0%, 0.3);
	--text-color: rgb(37, 37, 37);
}

body,
html {
	font-size: 1.6rem;

	font-family: 'DM Sans', sans-serif;

	color: var(--text-color);
	background-image: linear-gradient(
		to bottom right,
		var(--primary-color),
		var(--secondary-color)
	);

	scroll-behavior: smooth;
}

main header {
	background-color: white;
	box-shadow: 0px 0px 6px 4px var(--box-shadow-color);

	padding: 4rem;

	text-align: center;
	font-size: 4rem;
}

/* /////////////HEADER/NAV FORMATATIONS///////////// */

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	font-size: 2.5rem;

	width: 100%;

	padding: 3rem;

	background-color: var(--nav-background-color);
	box-shadow: 0 2px 6px var(--box-shadow-color);
}

nav a {
	text-decoration: none;
	color: var(--primary-color);
	font-family: var(--nav-font);
	letter-spacing: 0.3rem;
	text-transform: uppercase;

	position: relative;
	margin-inline: 0.8rem;

	box-shadow: inset 0 0 0 0 var(--primary-color);
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

nav a:before {
	content: '';
	position: absolute;
	top: 100%;
	width: 100%;
	height: 0.3rem;

	background-color: var(--secondary-color);

	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

nav a:hover {
	color: var(--secondary-color);
}

nav a:hover::before {
	transform: scaleX(1);
}

/* /////////////MAIN FORMATATION////////////////////// */
main {
	margin-top: 7.8rem;
}

/* /////////////WELCOME SECTION////////////////////// */

/* PARALLAX EFFECT */

section#welcome-section {
	background-color: linear-gradient(
		to bottom right,
		var(--primary-color),
		var(--secondary-color)
	);

	padding-inline: 2rem;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	justify-content: center;
}

/* FLOATING ANIMATION */

@keyframes floating {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, 15px);
	}
	to {
		transform: translate(0, -0px);
	}
}

section#welcome-section header#presentation {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

	background-color: white;
	box-shadow: 4px 4px 5px var(--box-shadow-color);

	text-align: center;
	font-size: 3.5rem;
	line-height: 10rem;

	margin-block: 15rem 40rem;

	padding: 2rem 4rem;
}

section#welcome-section header#presentation p {
	border-bottom: 2px solid rgb(37, 37, 37);
	font-weight: bold;
	font-size: 2.8rem;
}

/* PRESENTATION HOVER EFFECTS */

strong#name {
	color: var(--primary-color);
	font-family: 'Dancing Script', cursive;
	font-size: 8rem;
}

section#welcome-section strong:hover {
	border-bottom: 4px solid var(--secondary-color);
	transition: border-bottom 0.1s ease-out;
}

section#welcome-section em {
	font-style: normal;

	box-shadow: inset 0 0 0 0 var(--logo-brazil-first-color);
	padding-inline: 1rem;
}

section#welcome-section em:hover {
	box-shadow: inset 200px 0 0 0 var(--logo-brazil-first-color);
	color: var(--logo-brazil-second-color);

	transition: box-shadow 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* FADING ANIMATION */

span {
	display: inline-block;
	opacity: 0;
	filter: blur(4px);
}

span:nth-child(1) {
	animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
	animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
	animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
	animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
	animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
	animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
	animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
	animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
	animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
	animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
	animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
	animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
	animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
	animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
	animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
	animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
	animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
	100% {
		opacity: 1;
		filter: blur(0);
	}
}

/* /////////////PROJECTS SECTION////////////////////// */

section#projects {
	background-image: linear-gradient(
		to bottom right,
		var(--primary-color),
		var(--secondary-color)
	);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: scale-down;

	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 4rem;
	margin: 0 auto;

	padding-inline: 3rem;
	padding-block: 4rem 12rem;
}

section .project {
	box-shadow: 0px 0px 5px 1px;

	height: 100%;

	filter: grayscale();
	transition: filter 1s ease-out;
}

section#projects figcaption {
	background-color: white;

	padding: 2rem;

	text-align: center;
	font-size: 2.2rem;
}

section#projects figcaption code {
	color: white;
	transition: color 0.3s ease-out;
}

section .project img {
	width: 100%;
	height: 55vh;

	object-fit: cover;
	display: block;
}

section .project a {
	text-decoration: none;
	color: var(--text-color);
}

section .project:hover,
section#projects .project:hover code {
	filter: none;
	color: var(--secondary-color);
}

/* /////////////SKILLS SECTION//////////////////// */
section#skills {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1.5rem;

	padding: 2rem;
}

section .skill-block {
	background-color: white;
	box-shadow: 0px 0px 5px 1px var(--box-shadow-color);
	width: 100%;
}

section .skill-block figure {
	width: 90%;

	text-align: center;
	padding:2rem 0.8rem;
	margin: 0 auto;
}

section .skill-block figcaption {
	font-size: 5rem;
	font-weight: bold;
	text-shadow: 3px 3px 2px var(--box-shadow-color);

	display: inline;
	vertical-align: center;
}
section .skill-block img {
	width: clamp(15%, 20%, 30%);
	vertical-align: bottom;
}

/* ESPECIFIC LOGO FORMATATION */

section #html figcaption {
	color: hsl(12, 77%, 52%);
}

div#html {
	border: 3px solid hsl(12, 77%, 52%);
}

section #js figcaption {
	color: hsl(52, 84%, 63%);
}

div#js {
	border: 3px solid hsl(52, 84%, 63%);
}

section #css figcaption {
	color: hsl(212, 88%, 55%);
}

div#css {
	border: 3px solid hsl(212, 88%, 55%);
}

div#python strong {
	color: #ffdf00;
}

section #python figcaption {
	color: hsl(212, 88%, 55%);
}

div#python {
	border: 3px solid;
	border-color: #ffdf00 hsl(212, 88%, 55%) hsl(212, 88%, 55%) #ffdf00;
}

/* LIST OF SKILLS FORMATATION */
section .skill-block ul {
	text-align: left;
	margin-top: 2rem;
}

section .skill-block ul li {
	padding-block: 1rem;
	font-size: 1.8rem;
	font-weight: 500;
}

/* /////////////CONTACT SECTION//////////////////// */

section#contact {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;

	background-color: white;
	box-shadow: 0px 0px 5px 2px var(--box-shadow-color);

	margin: 0 auto;
}

section#contact h2 {
	font-size: 6rem;
	margin-top: 14rem;
	text-align: center;
}

section#contact h3 {
	font-size: 3rem;
	font-weight: 400;
	margin-block: 3rem;
}

div#contact-links {
	text-align: center;
	padding-inline: 4rem;
	margin-bottom: 10rem;
}

section#contact a {
	color: var(--text-color);
	text-decoration: none;
	font-size: 2.5rem;
	font-weight: bold;
	text-shadow: 3px 3px 2px var(--box-shadow-color);
	display: inline-block;

	margin-block: 2rem;
	padding-inline: 2rem;

	transition: transform 0.3s ease-out;
}

section#contact a:hover {
	transform: translateY(10px);
}

section#contact img {
	vertical-align: bottom;
	filter: grayscale();
	transition: filter 0.3s ease-out;
}

section#contact a:hover img {
	filter: none;
}

/* /////////////FOOTER SECTION//////////////////// */

footer {
	width: 100%;

	padding: 4rem;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-size: 2rem;

	box-shadow: 0px 0px 5px 2px var(--box-shadow-color);
	background-color: rgb(211, 209, 209);
}

footer a {
	color: var(--primary-color);
	font-weight: bold;
	text-decoration: none;
}

/* /////////////MEDIA QUERYS//////////////////// */

@media (min-width: 820px) {
	section#skills {
		grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	}

	section .skill-block img {
		width: 15%;
	}

	section .skill-block ul li {
		font-size: 2.5rem;
	}
}

@media (max-width: 650px) {
	nav a {
		font-size: 1.8rem;
		margin-inline: 0.8rem;
		letter-spacing: 0;
	}

	section#welcome-section header#presentation {
		font-size: 3.2rem;
		line-height: 8rem;

		padding: 2rem 1rem;
	}

	main header {
		background-color: white;
		box-shadow: 0px 0px 6px 4px var(--box-shadow-color);

		padding: 2rem;

		text-align: center;
		font-size: 4rem;
	}

	section#contact h2 {
		font-size: 6rem;
		margin-top: 6rem;
		text-align: center;
	}
}

@media (max-width: 375px) {

	nav a {
		font-size: 1.6rem;
		margin-inline: 0.8rem;
		letter-spacing: 0;
	}

	#name{
		line-height:8rem;
	}

	section#welcome-section header#presentation {
		font-size: 2.6rem;
		line-height: 6rem;

		padding: 2rem 1rem;
		margin-block:12rem;
	}

	section#projects {

		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	
		padding-inline: 3rem;
		padding-block: 4rem 12rem;
	}

	
}

